[Unit]
Description=Ethereum Application Platform
Documentation=https://geth.ethereum.org/

[Service]
ExecStart=/usr/local/bin/geth --rpc 2 > %h/.ethereum/geth.log
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
